<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare your data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .variables {
            margin-top: 20px;
        }
        img {
            margin-top: 50px;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Your data vs Rossouw, 2024 </h1>
    <img src="ffm.png" alt="Image">

    <div class="variables">
        <p>"Your Extroversion score is in the {{ E }} percentile of the population.</p>
        <p>Your Agreeableness score is in the {{ A }} percentile of the population.</p>
        <p>Your Conscientiousness score is in the {{ C }} percentile of the population.</p>
        <p>Your Neuroticism score is in the {{ N }} percentile of the population.</p>
        <p>Your Openness to experience score is in the {{ O }} percentile of the population.</p>
    </div>
    
    
</body>
</html>
